  /* ------------keyframes----------- */
  @keyframes Show {
    0% {
      height: 0;
    }
  }

  @keyframes ShowOpacity {
  0% {
    opacity: .5;
    transform: translateY(-20px);
  }
}

@keyframes ShowScrollTop {
  0% {
    transform: translateY(-100%);
  }
}

@keyframes ShowScrollBottom {
  0% {
    transform: translateY(100%);
  }
}

